SERVER_PORT=8080
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/ebp06
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=admin
SPRING_JPA_HIBERNATE_DDL_AUTO=update
CORS_ALLOWED_ORIGIN=http://localhost:3000
